<div class="row">
  <div class="col-sm-5">
    <h3>My User Profile</h3>
    <%= image_tag current_user.avatar.url(:medium) %>
    <strong>Account Details</strong>
    <ul>
      <li>Account created: <%= current_user.created_at %></li>
      <li>Last login: <%= current_user.last_sign_in_at %></li>
    </ul>


  </div>

  <div class="col-sm-7">
    <h3>My Classifieds</h3>


  </div>


</div>
