<body class="homepage"></body>
<div class="bs-component">
  <div class="row">
    <div class="col-lg-12">
      <h1>CommunityCulture</h1>
      <p>Catchy phrase here</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a href="/classifieds" class="btn btn-default btn-lg btn-block">Neighborhood Classifieds</a>
    </div>
    <div class="col-lg-4">
      <a href="/points" class="btn btn-default btn-lg btn-block">Donate/Volunteer</a>
    </div>
    <div class="col-lg-4">
      <a href="/classifieds" class="btn btn-default btn-lg btn-block">Learn more about us</a>
    </div>
  </div>
</div>
