<h2>Earn points to spend in your community!</h2>
<div class="row">
  <div class="col-lg-4">
    <h3 class="points-column">Volunteer/Outreach</h3>
  </div>
  <div class="col-lg-4">
    <h3 class="points-column">Donate</h3>
  </div>
  <div class="col-lg-4">
    <h3 class="points-column">Community Surveys</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <ul>
      <% @positions.each do |position| %>
        <li><%= position.title %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-4">
    <ul>
      <% @donations.each do |donation| %>
        <li><%= donation.title %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-4">
    <ul>
      <% @surveys.each do |survey| %>
        <li><%= survey.title %></li>
      <% end %>
    </ul>
  </div>
</div>
